<h1>
  Rock, Paper, Scissors
</h1>

<p>
  Have you played this game before? Great! Let's see if you win Rock, Paper, Scissors! Submit your choice of weapon and see if you win!
</p>

<form action='/outputRPS' method='get'>
  <div class="form-group">
    <label for="userRPS">A name</label>
    <input id="userRPS" name="year" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">GO!</button>
</form>
